{% load static %}
<html>
    <head>
        <title>Привет!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <p>Привет, Андрей!</p>
        </div>

    <div class="post">
        <p>Я что-то сделал,</p>
        <p>но всё не понятно)</p>
    </div>

    <div class="conclusion">
        <p>Позвони, когда сможешь</p>
    </div>
    </body>
</html>
